<style id="theme-color">
:root {--theme-color: #000000;}

.navbar{background-color: var(--theme-color) !important;}
.jumbotron{background-color: var(--theme-color) !important;}
body, main, footer, input{ background-color: var(--theme-color) !important; color: #fff !important;}
input {color: #fff !important;} 
#isaca-logo img {
	max-width: 255px;
}
#challenge {color: var(--theme-color) !important;}
</style>
