/* The code below is intended to be used in the theme editor so we have some form of tracking with
 * respect to css code. In reality we are supposed to use webpack and Sass and all that to make 
 * css changes
 */

body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.jumbotron {
  background-color: rgba(0,0,0, 0.0) !important;
  padding-bottom: 0 !important;
}

.category-header {
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: 'Odibee Sans', "Sans-serif";
}

#challenges-board {
        margin-left: 10% !important;
        margin-right: 10% !important;
}dhaval@dhavalvm:~/team-matrix-ctfd/CTFd/themes/team-matrix-2020/static/css$ cat winja2020.dev.css 
body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


.jumbotron {
  background-color: rgba(0,0,0, 0.0) !important;
  padding-bottom: 0 !important;
}

.category-header {
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: 'Odibee Sans', "Sans-serif";
}

#challenges-board {
        margin-left: 10% !important;
        margin-right: 10% !important;
}

#challenge {
  color: black;
}
#isaca-logo img {
  max-height: 200px;
}
