body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


.jumbotron {
  background-color: rgba(0,0,0, 0.0) !important;
  padding-bottom: 0 !important;
}

.category-header {
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: 'Odibee Sans', "Sans-serif";
}

#challenges-board {
	margin-left: 10% !important;
	margin-right: 10% !important;
}

#challenge {
  color: black;
}



/* 
The code above is a hack.

We had to move up to CTFd 2.3.1 since it had team limits and security updates
and so on. However, CTFd in version 2.2.0 decided to radically change the way
they did UI themeing, like moving to webpack and yarn and bundle and they even
changed the way global CSS was applied from within the application. 

So, since we've used a dark background, we need to use a white 
colour scheme on labels and inputs and such. We understand that we are supposed 
to do it from the Config page provided. Unfortunately, that doesn't work
properly yet.

So in order to expedite changes, we've added this stuff here.

In the future, it is paramount that we use webpack and the like to add any
UI changes.
*/
