body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.jumbotron {
  background-color: rgba(0,0,0, 0.0) !important;
  padding-bottom: 0 !important;
}

.category-header {
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: 'Odibee Sans', "Sans-serif";
}

#challenges-board {
	margin-left: 10% !important;
	margin-right: 10% !important;
}