body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.jumbotron {
  background-color: rgba(0,0,0, 0.0) !important;
  padding-bottom: 0 !important;
}

.category-header {
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: 'Odibee Sans', "Sans-serif";
}

#challenges-board {
	margin-left: 10% !important;
	margin-right: 10% !important;
}

#challenge-window {
  color: black;
}

#score-graph {
  background-color: white;
  margin-bottom: 2em;
}

.carousel {
    margin-bottom: 30px;
}


.carousel-cell {
    height: auto;
    width: 33%;
    margin-right: 20px;
}


.carousel-cell img {
  height: 150px;
  width: 90%;
  margin-right: 10px;
}


#sans-logo {
  max-width: 30%;
  height: auto;
}

/* 
The code above is a hack.

We had to move up to CTFd 2.3.1 since it had team limits and security updates
and so on. However, CTFd in version 2.2.0 decided to radically change the way
they did UI themeing, like moving to webpack and yarn and bundle and they even
changed the way global CSS was applied from within the application. 

Therefore, in order to minimize the time it takes to make small UI changes,
we aren't using webpack _at this time_ but will  in the future.

*/
