{% extends "base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Notifications</h1>
		</div>
	</div>
	<div class="container">
<!-- 		{% if not notifications %}
		<h2 class="text-center">There are no notifications yet</h2>
		{% endif %} -->
		<div class="twitter-feed">
			<a class="twitter-timeline" href="https://twitter.com/Winja_CTF?ref_src=twsrc%5Etfw">Tweets by Winja_CTF</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		{% for notification in notifications %}
		<div class="card bg-light mb-4">
			<div class="card-body">
				<h3 class="card-title">{{ notification.title }}</h3>
				<blockquote class="blockquote mb-0">
					<p>{{ notification.content | safe }}</p>
					<small class="text-muted"><span data-time="{{ notification.date | isoformat }}"></span></small>
				</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/notifications.js') }}"></script>
{% endblock %}
