{% extends "base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Notifications</h1>
		</div>
	</div>
	<div class="container">
		<a class="twitter-timeline" data-theme="dark" href="https://twitter.com/teammatrixSCIT?ref_src=twsrc%5Etfw">Tweets by teammatrixSCIT</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div class="container">
		{% for notification in notifications %}
		<div class="card bg-light mb-4">
			<div class="card-body">
				<h3 class="card-title">{{ notification.title }}</h3>
				<blockquote class="blockquote mb-0">
					<p>{{ notification.content | safe }}</p>
					<small class="text-muted">{{ notification.date | isoformat }}</small>
				</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
{% endblock %}
