
/* SOME CUSTOM CSS*/
.carousel {
    margin-bottom: 30px;
}


.carousel-cell {
    height: auto;
    width: 33%;
    margin-right: 20px;
}


.carousel-cell img {
  height: 150px;
  width: 90%;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #42da65;
    font-size:22px;
    font-family: monospace;
}
.navbar-dark .navbar-brand {
    color: #42da65;
}

img.img-responsive.ctf_logo {
   height: 1.6em;
}


article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
    background-color: rgba(0,0,0, 0.3);
}

.bg-dark {
    background-color: rgba(0,0,0,0.3) ! important;
}

h1, h2 {
    font-family: monospace ! important;
    font-weight: 500;
    letter-spacing: 2px;
}
body {
    background-image: url('../img/ctfd-bg.jpg') !important;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.jumbotron {
    background-color: #000;
}

.jumbotron > .container > h1 {
    color: #42da65;
    font-family: monospace;
}

.tab-content {
    color: black !important;
}

#name-input, #password-input {
    color: white;
}

.wargames-link a {
    color: #42da65;
    text-decoration: underline;
    font-size: 1.5em;
    font-family: "Ubuntu", monospace;

}

.login-header {
    height: 7em;
}

.wargames-logo img {
    width: 50%;
    padding-left: 10px
}
