{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- <h1 class="text-center">Forbidden</h1> -->
			<h2 class="text-center">{{ error }}</h2>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
